<div class="video-list-namespace" layout="column">
	<div layout="row" layout-align="center center" class="title-container">
		<h1>Cross Over Video Portal</h1>
		<div layout-align="end center" layout="row">
			<md-button ng-click="$videoList.logout()">Logout</md-button>
		</div>
	</div>

	<div layout="row" layout-align="center center" ng-if="!$videoList.hasVideos" class="no-videos-available">
		<span>Sorry, we got no videos for you in the moment</span>
	</div>

	<md-content md-scroll-y layout-gt-sm="row" layout="column" flex
				scroll-to-end="$videoList.getMoreVideos" style="overflow: auto">

		<!-- used to inject the video details page -->
		<div id="selected-video-container" class="selected-video-container" flex-gt-sm="60" flex="100"
			 ng-if="$videoList.state.current.name === 'videoList.videoDetail'" ui-view></div>
		<!-- ended the video details container -->

		<ul flex="$videoList.selectedVideo !== undefined ? '40' : '100'">
			<li ng-repeat="video in $videoList.videoList">
				<!-- show video details -->
				<h2 ng-click="$videoList.goToDetail(video)">{{video.name}}</h2>

				<div class="video-item-container">
					<!-- videogular API usage -->
					<videogular vg-responsive="true" vg-update-state="$videoList.onUpdateState($state, video._id)"
								vg-player-ready="$videoList.onPlayerReady($API, video._id)">
						<vg-media vg-src="video.config.sources">
						</vg-media>
						<vg-controls>
							<vg-play-pause-button></vg-play-pause-button>
							<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
							<vg-scrub-bar>
								<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
							</vg-scrub-bar>
							<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
							<vg-volume>
								<vg-mute-button></vg-mute-button>
								<vg-volume-bar></vg-volume-bar>
							</vg-volume>
							<vg-fullscreen-button></vg-fullscreen-button>
						</vg-controls>
					</videogular>
				</div>
				<!-- the overall rating -->
				<star-rating ng-model="video.overallRating" enabled="false"></star-rating>

				<!-- video description -->
				<p>{{ video.description }}</p>
			</li>
		</ul>
	</md-content>
</div>



