<div class="detail-namespace" layout="column" layout-fill flex>

	<div layout="row" class="video-title-container">
		<h2 flex="60">{{$videoDetail.video.name}}</h2>

		<div flex layout="row" layout-align="end center">
			<md-button ng-click="$videoDetail.backToVideoList()" class="md-icon-button" aria-label="Close">
				<md-icon md-svg-icon="app/assets/images/ic_close_black_24px.svg"></md-icon>
			</md-button>
		</div>
	</div>

	<videogular vg-responsive="true" vg-player-ready="$videoDetail.onPlayerReady($API)"
		vg-update-state="$videoDetail.onUpdateState($state)">
		<vg-media vg-src="$videoDetail.video.config.sources">
		</vg-media>
		<vg-controls>
			<vg-play-pause-button></vg-play-pause-button>
			<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			<vg-volume>
				<vg-mute-button></vg-mute-button>
				<vg-volume-bar></vg-volume-bar>
			</vg-volume>
			<vg-fullscreen-button></vg-fullscreen-button>
		</vg-controls>
	</videogular>
	<p>{{$videoDetail.video.description}}</p>
	<div layout="column" layout-align="start center" class="evaluation-container">
		<h3>Please help us improve our videos quality. Evaluate it</h3>
		<div layout="row" layout-align="center center">
			<star-rating ng-model="$videoDetail.rating" size="2.1em"></star-rating>

			<!--<ng-rate-it resetable="false" ng-model="$videoDetail.rating" max="5" step="1"></ng-rate-it>-->
			<md-button ng-disabled="$videoDetail.rating === 0"
					   class="evaluate-button" ng-click="$videoDetail.submitEvaluation()">Submit</md-button>

			<span ng-class="$videoDetail.response.status === 'error' ? 'evaluation-error-message' : 'evaluation-success-message'"
				  layout="row" layout-align="center center" ng-if="$videoDetail.response.message">
				{{ $videoDetail.response.message }}
			</span>
		</div>
	</div>
</div>
