<div class="auth-namespace" layout-fill flex layout="column" layout-align="center center">

	<div layout="row" layout-align="start center">
		<img src="app/assets/images/video-player-icon.png"/>
		<h1>Video Portal</h1>
	</div>
	<p>Welcome to Video Portal. The place where you can <strong>play</strong> and <strong>rate</strong> videos</p>

	<md-card>
		<md-card-content>
			<form novalidate name="loginForm" ng-submit="loginForm.$valid && $authCtrl.authenticate()">
				<md-input-container class="md-icon-float md-block">
					<label>Username</label>
					<md-icon md-svg-src="app/assets/images/auth/ic_person_black_24px.svg"></md-icon>
					<input name="username" id="username" ng-model="$authCtrl.user.username" required>
					<div ng-messages="loginForm.username.$error">
						<div ng-message="required">Field must be filled</div>
					</div>
				</md-input-container>

				<md-input-container class="md-icon-float md-block">
					<label>Password</label>
					<md-icon md-svg-src="app/assets/images/auth/ic_lock_black_24px.svg"></md-icon>
					<input name="userPassword" id="password"
						   ng-model="$authCtrl.user.password" type="password" required>
					<div ng-messages="loginForm.userPassword.$error">
						<div ng-message="required">Field must be filled</div>
					</div>
				</md-input-container>

				<md-button class="signin-button" type="submit">Sign in</md-button>
			</form>

		</md-card-content>
	</md-card>
</div>
